body {
	background-color: #000;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.sidebar {
  position: fixed;
	height: 100%;
	left: 0;
	top: 0px;
	width: 30%;
	background-color: rgba(0,0,0,0.5)
}

.sidebar img {
	
	position: fixed;
	left: 0;
	top: 25%;
	width: 30%;
	z-index: -5;
	opacity:0.05;
	transition: 0.3s ease;
	
}

.sidebar h1 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sidebar p {
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-left: 30%;
  height: 100%;
  width: auto;
  position: relative;
  z-index: 1;
  text-align: center;
  word-wrap: break-word;
}

.content h1 {
	margin-top: 3%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.content ul {
	word-wrap: break-word;
	text-align: center;
	padding: 0;

}

.content ul, li {
	list-style: none;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.content ul, li img{
	transform: scale(1, 1);
	transition: 0.3s ease;
	cursor: pointer;
	vertical-align: top;
}


.content img:hover {
	transform: scale(1.25, 1.25);
}

.myURL {
	text-align: center;
}


#video-background {
  display: block;
  margin: 0 auto;
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

span {
	font-weight: 700;
}

#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 13px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.searchbar-container {
	width: 100%;
	text-align: center;
}

.skheader {
	padding-top: 10px;
}

.TeachableDesc {
	padding-top: 10px;
}

.myUL {
	padding: 0;
}
